
   <div class="hnav"></div>

<div class="body" *ngIf="movie">
    <p class="title" style="text-align: center;">{{movie.name}}</p>
    <div class="total">
        <p class="avail" style="text-align: center;">Tickets Available: {{movie.tickets}}</p>
        <p>price: ₹{{price}}</p>
        <p class="avail" style="text-align: center;">Total Amount: ₹{{udata.amount}}</p>

    </div>
    <div class="container">
    <form [formGroup]="bookingForm" (ngSubmit)="OnSubmit(udata)">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text" name="name" placeholder=" Enter Name" formControlName="name">
        </fieldset><br>
        <fieldset>
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="Enter Your Email" formControlName="email">
        </fieldset><br>
        <fieldset>
            <label for="date">Date:</label>
            <input type="date" name="phone" placeholder="Choose show date " formControlName="date">
        </fieldset><br>
        <fieldset>
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" placeholder="Enter Your Phone No." formControlName="phone">
        </fieldset><br>
        <fieldset>
            <label for="show">Show Time:</label>
            <select name="show" formControlName="show">
                <option value="">Choose Show Time</option>
                <option value="Morning" >Morning</option>
                <option value="Noon" >Noon</option>
                <option value="Evening" >Evening</option>
                <option value="Night" >Night</option>
            </select>
        </fieldset><br>
        <fieldset>
            <label for="ntickets">Tickets:</label>
            <select name="ntickets" id="ntikt" formControlName="ntickets">
                <option value="">Choose No of Tickets</option>
                <option value=1 [ngValue]=1 >1</option>
                <option value=2 [ngValue]=2 >2</option>
                <option value=3 [ngValue]=3 >3</option>
                <option value=4 [ngValue]=4 >4</option>
                <option value=5 [ngValue]=5 >5</option>
                <option value=6 [ngValue]=6 >6</option>
                <option value=7 [ngValue]=7 >7</option>
                <option value=8 [ngValue]=8 >8</option>
                <option value=9 [ngValue]=9 >9</option>
                <option value=10 [ngValue]=10 >10</option>
            </select>
        </fieldset><br>
        <fieldset>
            <button class="confirm" [disabled]="bookingForm.invalid || isDisable" type="submit" (click)="openDialog()" >Confirm</button>
            <a routerLink="/TicketInfo"><button class="btn btn-secondary">Cancel</button></a>
        </fieldset>
    </form>
    
</div>
</div>
